header {
  max-height: 525px;
}

.logo {
  max-width: 150px;
  height: auto;
  object-fit: contain;
}

nav {
  display: flex;
}

.nav-list {
  font-size: 0.85rem;
  display: flex;
  padding: 0;
}

.nav-list li a {
  color: #fff;
}

.nav-list li a:hover {
  text-decoration: underline;
}

.left-list,
.right-list {
  flex: 1;
  gap: 1rem;
}

.right-list {
  justify-content: flex-end;
}

.logo-wrapper {
}
